@model ToDoList.Models.ToDoViewModel
@using Humanizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "My to do list";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <div class="panel panel-default todo-panel">
        <div class="panel-heading">@ViewData["Title"]</div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&#x2714;</td>
                    <td>DELETE</td>
                    <td>Item</td>
                    <td>Due</td>
                </tr>
            </thead>

            @foreach (var item in Model.items)
            {
                <tr>
                    <td>
                        <form asp-action="MarkDone" method="POST">
                            <input type="checkbox" name="id" id="checkbox-id" value="@item.Id" onchange="markDone(this)">
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="POST">
                            <input type="hidden" name="id" value="@item.Id">
                            <button>X</button>
                        </form>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.DueAt.Humanize()</td>
                </tr>
            }
        </table>

        <div class="panel-footer add-item-form">
            @await Html.PartialAsync("AddItemPartial", new ToDoList.Models.ToDoItem())
        </div>
    </div>
</body>
</html>

