@model ToDoList.Models.ToDoViewModel
@using Humanizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "My to do list";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <div class="panel panel-default todo-panel">
        <div class="panel-heading">@ViewData["Title"]</div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&#x2714;</td>
                    <td>DELETE</td>
                    <td>Item</td>
                    <td>Due</td>
                </tr>
            </thead>

            @foreach (var item in Model.Items)
            {
            <tr>
                <td>
                    <form asp-action="Done" method="POST">
                        <input type="checkbox" class="done-checkbox">
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="POST">
                        <input type="hidden" name="id" value="@item.Id">
                        <button>X</button>
                    </form>
                </td>
                @if (@item.IsDone)
                {
                    <td><s>@item.Title</s></td>
                }
                else
                {
                    <td>@item.Title</td>
                }
                @if (@item.IsDone)
                {
                    <td><s>@item.DueAt.Humanize()</s></td>
                }
                else
                {
                    <td>@item.DueAt.Humanize()</td>
                }
            </tr>
            }
        </table>

        <div class="panel-footer add-item-form">
            @await Html.PartialAsync("AddItemPartial", new ToDoList.Models.ToDoItem())
        </div>
    </div>
</body>
</html>

